:root {
  --ui-color-black: #1e1e1e;
  --ui-color-white: #ffffff;
  --ui-color-green: #3bb75e;
  --ui-color-green-50: #eaf6fc;
  --breakpoint-sm: "30em";
  --breakpoint-md: "48em";
  --breakpoint-lg: "62em";
  --breakpoint-xl: "80em";
  --grid-gutter: 1%;
  --font-family: "Fira Sans", sans-serif;
  --font-weight-light: 300;
  --font-size-small: 0.75rem;
  --font-size-large: 1.25rem;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

input {
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

button {
  border: none;
  border-radius: 0.25rem;
}

.img {
  width: 100%;
}

a.btn {
  display: inline-block;
}

a.btn.full-width {
  text-align: center;
}

.btn {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
}

.btn.primary {
  background-color: var(--ui-color-green);
  color: var(--ui-color-white);
}

.btn.btn-ghost--primary,
.btn.btn-inline--primary {
  color: var(--ui-color-green);
}

.btn.btn-inline {
  padding: 0.75rem 0;
}

/* Space */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

/* Typography */
.text-center {
  text-align: center;
}

.text-center-xs {
  text-align: center;
}

.font-size-small {
  font-size: var(--font-size-small);
}

.font-weight-light {
  font-weight: var(--font-weight-light);
}

/* Layout */
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 88%;
}

.section {
  padding: 4rem 0;
}

.row {
  flex-flow: wrap;
  justify-content: flex-start;
  place-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex.column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.self-stretch {
  align-self: stretch;
}

.nowrap {
  flex-wrap: nowrap;
}

.row.no-gutter .xs-1:not(:last-child),
.row.no-gutter .xs-2:not(:last-child),
.row.no-gutter .xs-3:not(:last-child),
.row.no-gutter .xs-4:not(:last-child),
.row.no-gutter .xs-5:not(:last-child),
.row.no-gutter .xs-6:not(:last-child),
.row.no-gutter .xs-7:not(:last-child),
.row.no-gutter .xs-8:not(:last-child),
.row.no-gutter .xs-9:not(:last-child),
.row.no-gutter .xs-10:not(:last-child),
.row.no-gutter .xs-11:not(:last-child),
.row.no-gutter .xs-12:not(:last-child) {
  margin-right: 0;
}

.xs-1 {
  width: 7.41667%;
}

.xs-1:not(:last-child) {
  margin-right: 1%;
}

.xs-2 {
  width: 15.8333%;
}

.xs-2:not(:last-child) {
  margin-right: 1%;
}

.xs-3 {
  width: 24.25%;
}

.xs-3:not(:last-child) {
  margin-right: 1%;
}

.xs-4 {
  width: 32.6667%;
}

.xs-4:not(:last-child) {
  margin-right: 1%;
}

.xs-5 {
  width: 41.0833%;
}

.xs-5:not(:last-child) {
  margin-right: 1%;
}

.xs-6 {
  width: 49.5%;
}

.xs-6:not(:last-child) {
  margin-right: 1%;
}

.xs-7 {
  width: 57.9167%;
}

.xs-7:not(:last-child) {
  margin-right: 1%;
}

.xs-8 {
  width: 66.3333%;
}

.xs-8:not(:last-child) {
  margin-right: 1%;
}

.xs-9 {
  width: 74.75%;
}

.xs-9:not(:last-child) {
  margin-right: 1%;
}

.xs-10 {
  width: 83.1667%;
}

.xs-10:not(:last-child) {
  margin-right: 1%;
}

.xs-11 {
  width: 91.5833%;
}

.xs-11:not(:last-child) {
  margin-right: 1%;
}

.xs-12 {
  width: 100%;
}

.xs-12:not(:last-child) {
  margin-right: 1%;
}

@media screen and (min-width: 30em) {
  .text-center-xs {
    text-align: left;
  }

  .row.no-gutter .sm-1:not(:last-child),
  .row.no-gutter .sm-2:not(:last-child),
  .row.no-gutter .sm-3:not(:last-child),
  .row.no-gutter .sm-4:not(:last-child),
  .row.no-gutter .sm-5:not(:last-child),
  .row.no-gutter .sm-6:not(:last-child),
  .row.no-gutter .sm-7:not(:last-child),
  .row.no-gutter .sm-8:not(:last-child),
  .row.no-gutter .sm-9:not(:last-child),
  .row.no-gutter .sm-10:not(:last-child),
  .row.no-gutter .sm-11:not(:last-child),
  .row.no-gutter .sm-12:not(:last-child) {
    margin-right: 0;
  }

  .sm-1 {
    width: 7.41667%;
  }

  .sm-1:not(:last-child) {
    margin-right: 1%;
  }

  .sm-2 {
    width: 15.8333%;
  }

  .sm-2:not(:last-child) {
    margin-right: 1%;
  }

  .sm-3 {
    width: 24.25%;
  }

  .sm-3:not(:last-child) {
    margin-right: 1%;
  }

  .sm-4 {
    width: 32.6667%;
  }

  .sm-4:not(:last-child) {
    margin-right: 1%;
  }

  .sm-5 {
    width: 41.0833%;
  }

  .sm-5:not(:last-child) {
    margin-right: 1%;
  }

  .sm-6 {
    width: 49.5%;
  }

  .sm-6:not(:last-child) {
    margin-right: 1%;
  }

  .sm-7 {
    width: 57.9167%;
  }

  .sm-7:not(:last-child) {
    margin-right: 1%;
  }

  .sm-8 {
    width: 66.3333%;
  }

  .sm-8:not(:last-child) {
    margin-right: 1%;
  }

  .sm-9 {
    width: 74.75%;
  }

  .sm-9:not(:last-child) {
    margin-right: 1%;
  }

  .sm-10 {
    width: 83.1667%;
  }

  .sm-10:not(:last-child) {
    margin-right: 1%;
  }

  .sm-11 {
    width: 91.5833%;
  }

  .sm-11:not(:last-child) {
    margin-right: 1%;
  }

  .sm-12 {
    width: 100%;
  }

  .sm-12:not(:last-child) {
    margin-right: 1%;
  }
}

@media screen and (min-width: 48em) {
  .row.no-gutter .md-1:not(:last-child),
  .row.no-gutter .md-2:not(:last-child),
  .row.no-gutter .md-3:not(:last-child),
  .row.no-gutter .md-4:not(:last-child),
  .row.no-gutter .md-5:not(:last-child),
  .row.no-gutter .md-6:not(:last-child),
  .row.no-gutter .md-7:not(:last-child),
  .row.no-gutter .md-8:not(:last-child),
  .row.no-gutter .md-9:not(:last-child),
  .row.no-gutter .md-10:not(:last-child),
  .row.no-gutter .md-11:not(:last-child),
  .row.no-gutter .md-12:not(:last-child) {
    margin-right: 0;
  }

  .md-1 {
    width: 7.41667%;
  }

  .md-1:not(:last-child) {
    margin-right: 1%;
  }

  .md-2 {
    width: 15.8333%;
  }

  .md-2:not(:last-child) {
    margin-right: 1%;
  }

  .md-3 {
    width: 24.25%;
  }

  .md-3:not(:last-child) {
    margin-right: 1%;
  }

  .md-4 {
    width: 32.6667%;
  }

  .md-4:not(:last-child) {
    margin-right: 1%;
  }

  .md-5 {
    width: 41.0833%;
  }

  .md-5:not(:last-child) {
    margin-right: 1%;
  }

  .md-6 {
    width: 49.5%;
  }

  .md-6:not(:last-child) {
    margin-right: 1%;
  }

  .md-7 {
    width: 57.9167%;
  }

  .md-7:not(:last-child) {
    margin-right: 1%;
  }

  .md-8 {
    width: 66.3333%;
  }

  .md-8:not(:last-child) {
    margin-right: 1%;
  }

  .md-9 {
    width: 74.75%;
  }

  .md-9:not(:last-child) {
    margin-right: 1%;
  }

  .md-10 {
    width: 83.1667%;
  }

  .md-10:not(:last-child) {
    margin-right: 1%;
  }

  .md-11 {
    width: 91.5833%;
  }

  .md-11:not(:last-child) {
    margin-right: 1%;
  }

  .md-12 {
    width: 100%;
  }

  .md-12:not(:last-child) {
    margin-right: 1%;
  }
}

@media screen and (min-width: 62em) {
  .row.no-gutter .lg-1:not(:last-child),
  .row.no-gutter .lg-2:not(:last-child),
  .row.no-gutter .lg-3:not(:last-child),
  .row.no-gutter .lg-4:not(:last-child),
  .row.no-gutter .lg-5:not(:last-child),
  .row.no-gutter .lg-6:not(:last-child),
  .row.no-gutter .lg-7:not(:last-child),
  .row.no-gutter .lg-8:not(:last-child),
  .row.no-gutter .lg-9:not(:last-child),
  .row.no-gutter .lg-10:not(:last-child),
  .row.no-gutter .lg-11:not(:last-child),
  .row.no-gutter .lg-12:not(:last-child) {
    margin-right: 0;
  }

  .lg-1 {
    width: 7.41667%;
  }

  .lg-1:not(:last-child) {
    margin-right: 1%;
  }

  .lg-2 {
    width: 15.8333%;
  }

  .lg-2:not(:last-child) {
    margin-right: 1%;
  }

  .lg-3 {
    width: 24.25%;
  }

  .lg-3:not(:last-child) {
    margin-right: 1%;
  }

  .lg-4 {
    width: 32.6667%;
  }

  .lg-4:not(:last-child) {
    margin-right: 1%;
  }

  .lg-5 {
    width: 41.0833%;
  }

  .lg-5:not(:last-child) {
    margin-right: 1%;
  }

  .lg-6 {
    width: 49.5%;
  }

  .lg-6:not(:last-child) {
    margin-right: 1%;
  }

  .lg-7 {
    width: 57.9167%;
  }

  .lg-7:not(:last-child) {
    margin-right: 1%;
  }

  .lg-8 {
    width: 66.3333%;
  }

  .lg-8:not(:last-child) {
    margin-right: 1%;
  }

  .lg-9 {
    width: 74.75%;
  }

  .lg-9:not(:last-child) {
    margin-right: 1%;
  }

  .lg-10 {
    width: 83.1667%;
  }

  .lg-10:not(:last-child) {
    margin-right: 1%;
  }

  .lg-11 {
    width: 91.5833%;
  }

  .lg-11:not(:last-child) {
    margin-right: 1%;
  }

  .lg-12 {
    width: 100%;
  }

  .lg-12:not(:last-child) {
    margin-right: 1%;
  }

  .title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 80em) {
  .row.no-gutter .xl-1:not(:last-child),
  .row.no-gutter .xl-2:not(:last-child),
  .row.no-gutter .xl-3:not(:last-child),
  .row.no-gutter .xl-4:not(:last-child),
  .row.no-gutter .xl-5:not(:last-child),
  .row.no-gutter .xl-6:not(:last-child),
  .row.no-gutter .xl-7:not(:last-child),
  .row.no-gutter .xl-8:not(:last-child),
  .row.no-gutter .xl-9:not(:last-child),
  .row.no-gutter .xl-10:not(:last-child),
  .row.no-gutter .xl-11:not(:last-child),
  .row.no-gutter .xl-12:not(:last-child) {
    margin-right: 0;
  }

  .xl-1 {
    width: 7.41667%;
  }

  .xl-1:not(:last-child) {
    margin-right: 1%;
  }

  .xl-2 {
    width: 15.8333%;
  }

  .xl-2:not(:last-child) {
    margin-right: 1%;
  }

  .xl-3 {
    width: 24.25%;
  }

  .xl-3:not(:last-child) {
    margin-right: 1%;
  }

  .xl-4 {
    width: 32.6667%;
  }

  .xl-4:not(:last-child) {
    margin-right: 1%;
  }

  .xl-5 {
    width: 41.0833%;
  }

  .xl-5:not(:last-child) {
    margin-right: 1%;
  }

  .xl-6 {
    width: 49.5%;
  }

  .xl-6:not(:last-child) {
    margin-right: 1%;
  }

  .xl-7 {
    width: 57.9167%;
  }

  .xl-7:not(:last-child) {
    margin-right: 1%;
  }

  .xl-8 {
    width: 66.3333%;
  }

  .xl-8:not(:last-child) {
    margin-right: 1%;
  }

  .xl-9 {
    width: 74.75%;
  }

  .xl-9:not(:last-child) {
    margin-right: 1%;
  }

  .xl-10 {
    width: 83.1667%;
  }

  .xl-10:not(:last-child) {
    margin-right: 1%;
  }

  .xl-11 {
    width: 91.5833%;
  }

  .xl-11:not(:last-child) {
    margin-right: 1%;
  }

  .xl-12 {
    width: 100%;
  }

  .xl-12:not(:last-child) {
    margin-right: 1%;
  }
}
