.footer {
  background-color: var(--ui-color-black);
  background-image: url("/static/images/footer_bg_left.png"),
    url("/static/images/footer_bg_right.png");
  background-repeat: no-repeat;
  background-position: top left, right;
  min-height: 40vh;
  padding: 4rem 0;
  color: var(--ui-color-white);
}

.footer__navlink {
  margin-bottom: 1rem;
}

.footer__navlink:hover {
  text-decoration: underline;
}

/* auth pages */
.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--ui-color-black);
  color: var(--ui-color-white);
}

.form-container {
  max-width: 480px;
  margin: auto;
}

.form {
  background-color: var(--ui-color-white);
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: var(--ui-color-black);
}
