.logo {
  width: 75%;
}

.navbar {
  padding: 1rem 0;
}

.navbar__nav {
  display: none;
}

.navbar__navlink {
  padding: 0.5rem 0.75rem;
}

.global-header {
  min-height: 40vh;
  background-color: var(--ui-color-green-50);
}

.global-header-content {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.footer {
  background-color: var(--ui-color-black);
  background-image: url("/static/images/footer_bg_left.png"),
    url("/static/images/footer_bg_right.png");
  background-repeat: no-repeat;
  background-position: top left, right;
  min-height: 40vh;
  padding: 4rem 0;
  color: var(--ui-color-white);
}

.footer__navlink {
  margin-bottom: 1rem;
}

.footer__navlink:hover {
  text-decoration: underline;
}

/* auth pages */
.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--ui-color-black);
  color: var(--ui-color-white);
}

.form-container {
  max-width: 480px;
  margin: auto;
}

.form {
  background-color: var(--ui-color-white);
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  color: var(--ui-color-black);
}

.excutives {
  max-height: 312px;
  overflow-y: clip;
}

.exco-photo {
  max-width: 312px;
  max-height: 312px;
}

.header {
  min-height: 40vh;
  padding-top: 6rem;
  background-color: var(--ui-color-green-50);
  position: relative;
}

.header-hero {
  width: 100%;
  max-width: 550px;
  max-height: 480px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header-right {
  height: 420px;
  position: relative;
  right: -10vw;
}

.testimonials {
  background-color: var(--ui-color-green-50);
}

.events {
  background-color: var(--ui-color-black);
  padding: 2.5rem 0;
  color: var(--ui-color-white);
}

@media screen and (min-width: 80em) {
  .logo {
    width: 100%;
  }

  .navbar__nav {
    display: flex;
  }
}
