<section class="section text-center-xs">
  <div class="container">
    <div class="row">
      <div class="xs-12 sm-8 lg-10">
        <h2>
          <span class="font-weight-light">Join the community</span><br />Become
          a Member of NACOS <br />Federal University Lokoja
        </h2>
      </div>
      <div
        class="xs-12 sm-4 lg-2 flex align-center justify-center self-stretch"
      >
        <a href="#" class="btn primary">Become a member</a>
      </div>
    </div>
  </div>
</section>
