<header class="header text-center-xs">
  <div class="container">
    <div class="row">
      <div class="xs-12 lg-5 xl-6 self-stretch header-left">
        <h1 class="title">Nigeria Association Of Computing Students.</h1>
        <p class="large-text">
          We are Students IT Professionals in almost all tertiary institutions
          in Nigeria.
        </p>
        <a
          href="{{url_for('members_blueprint.register')}}"
          class="btn primary text-center-xs mb-2"
          >Become a member</a
        >
      </div>
    </div>
  </div>
</header>
