<section class="section">
  <div class="container">
    <h2 class="text-center">Our Partners</h2>
    <div class="row container nowrap no-scrollbars">
      <div class="xs-10 md-3 flex justify-center">
        <img
          src="{{url_for('static', filename='images/ful.png')}}"
          alt="Fulokoja Logo"
          srcset=""
        />
      </div>
      <div class="xs-10 md-3 flex justify-center">
        <img
          src="{{url_for('static', filename='images/nitda.png')}}"
          alt="NITDA Logo"
          srcset=""
        />
      </div>
      <div class="xs-10 md-3 flex justify-center">
        <img
          src="{{url_for('static', filename='images/fsi.png')}}"
          alt="FSI Logo"
          srcset=""
        />
      </div>
      <div class="xs-10 md-3 flex justify-center">
        <img
          src="{{url_for('static', filename='images/nira.png')}}"
          alt="NIRA Logo"
          srcset=""
        />
      </div>
    </div>
  </div>
</section>
